#canvas {
    touch-action: none;
    background-color: #eee;
    width: 100%;
    cursor: none;
    border-radius: 15px;
}

#cursor {
    position: absolute;
    touch-action: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    opacity: 0;
    border: 34px solid #fff;
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0.4);
    transition: 0.15s transform;
}

#cursor.touched {
    transform: scale(1);
    transition: 0.15s transform;
}

#cursor::before {
    content: '';
    display: inline;
    width: 18px;
    height: 18px;
    border: 4px solid #fff;
    opacity: 0.7;
    border-radius: 50%;
    transition: 0.15s transform;
}

#cursor.touched::before {
    transform: scale(4.1);
    border-width: 7px;
    transition: 0.15s transform;
}

.container {
    width: 90%;
    max-width: none;
}

#colorView {
    width: 100%;
    height: 150px;
    background-color: #3f51b5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card {
    margin: 0;
}

tr {
    border: none;
}

td {
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

td:first-child {
    color: #ccc;
    text-align: right;
    width: 30%;
}

.temptitle {
    opacity: 0.1;
    top: -2em;
    font-size: 0.3em;
}

.card {
    border-radius: 15px;
}
